.preview-wrapper {
  height: 100%;
  flex-grow: 1;
  position: relative;
  /* overflow: hidden; */
}

.react-draggable-transparent-selection .preview-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  z-index: 10;
  opacity: 0;
}

.preview-wrapper > .iframe {
  height: 100%;
  width: 100%;
}
