.action-bar {
  width: 100%;
  height: 30px;
  background-color: grey;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  border-top-left-radius: 15px;
}

.action-bar button {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.action-bar button:hover {
  opacity: 1;
}
